body {
    margin: 0;
    font-family: 'Poppins', sans-serif; /* 👈 AQUI */
    min-height: 100vh;
    background-image: url('imagens/fundo.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    background-color: white;
    width: 360px;
    border-radius: 16px;
    overflow: hidden;
    }
.card-header {
    background: linear-gradient(90deg, #16378b, #1a4bcc);
    padding: 0;
    text-align: center;
    height: 120px; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-header img {
    width: 200px; 
    display: block;
    margin: 0 auto;
    object-fit: contain;
    margin-top: 20px;
}
.card-body {
    padding: 20px 24px;
}
.titulo {
    font-size: 1.4rem;
    color: #111;
    text-align: center;
    margin-bottom: 4px;
}
.subtitulo {
    font-size: 0.9rem;
    color: #666666;
    text-align: center;
    margin-bottom: 24px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}
input:focus {
    outline: none;
    border-color: #1a4bcc;
}
button {
    padding: 12px;
    background-color: #1a4bcc;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
button:hover {
    background-color: #163ea8;
}
.divider {
    text-align: center;
    margin: 20px 0;
    color: #999;
}
.social {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background: #3367d8;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: all 0.2s ease;
}
.social:hover {
    background-color: #1956da; /* leve azulzinho */
    border-color: #1a4bcc;
    transform: translateY(-2px); /* sobe levemente */
    box-shadow: 0 4px 10px rgba(160, 135, 135, 0.08);
}